<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Branch</key>
	<true/>
	<key>NextBranch</key>
	<integer>0</integer>
	<key>PreOptions</key>
	<array>
		<dict>
			<key>NextBranch</key>
			<integer>5</integer>
			<key>OptionText</key>
			<string>5</string>
			<key>A</key>
			<dict>
				<key>Condition</key>
				<string>&gt;</string>
				<key>Score</key>
				<integer>40</integer>
				<key>Operation</key>
				<integer>10</integer>
			</dict>
			<key>B</key>
			<dict>
				<key>Condition</key>
				<string>&lt;</string>
				<key>Score</key>
				<integer>60</integer>
				<key>Operation</key>
				<integer>-10</integer>
			</dict>
		</dict>
		<dict>
			<key>NextBranch</key>
			<integer>6</integer>
			<key>OptionText</key>
			<string>6</string>
			<key>A</key>
			<dict>
				<key>Condition</key>
				<string>&gt;</string>
				<key>Score</key>
				<integer>70</integer>
				<key>Operation</key>
				<integer>0</integer>
			</dict>
			<key>B</key>
			<dict>
				<key>Condition</key>
				<string>&gt;</string>
				<key>Score</key>
				<integer>70</integer>
				<key>Operation</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>NextBranch</key>
			<integer>7</integer>
			<key>OptionText</key>
			<string>7</string>
			<key>A</key>
			<dict>
				<key>Condition</key>
				<string>&lt;</string>
				<key>Score</key>
				<integer>60</integer>
				<key>Operation</key>
				<integer>-10</integer>
			</dict>
			<key>B</key>
			<dict>
				<key>Condition</key>
				<string>&gt;</string>
				<key>Score</key>
				<integer>40</integer>
				<key>Operation</key>
				<integer>10</integer>
			</dict>
		</dict>
	</array>
	<key>Screens</key>
	<array>
		<dict>
			<key>Picture</key>
			<string>41</string>
			<key>Music</key>
			<string>testmusic</string>
			<key>Text</key>
			<string>41</string>
		</dict>
		<dict>
			<key>Picture</key>
			<string>42</string>
			<key>Music</key>
			<string>testmusic</string>
			<key>Text</key>
			<string>42</string>
		</dict>
	</array>
</dict>
</plist>
